@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0d0a10;
    --backgroundMine: #faf8fc;
    --primary: #7837c8;
    --secondary: #af7ce9;
    --accent: #a158f3;
  }
  /* .dark {
  } */
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f2eff5;
    --backgroundMine: #050307;
    --primary: #7837c8;
    --secondary: #491683;
    --accent: #540ca7;
  }
}

body {
  color: var(--text);
  background: var(--backgroundMine);
  font-family: Arial, Helvetica, sans-serif;
}
